@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;800&display=swap');


/* WEBSITE */
body {
    background: #4374ee;
}

/* DIVS */
#header {
    position: relative;
    background: white;
    max-width: 900px;
    width: 90%;
    margin: auto;
}

#nav {
    position: relative;
    background: none;
    max-width: 900px;
    width: 100%;
    margin: auto;
}

#section {
    position: relative;
    background: white;
    max-width: 900px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 1%;
}

#footer {
    position: relative;
    background: gray;
    max-width: 900px;
    width: 90%;
    margin: auto;
    text-align: right;
}

#titles {
    position: relative;
    background: white;
    max-width: 900px;
    width: 90%;
    margin: auto;
}

/* LINKS */

a {
    color: white;
    text-decoration: none;
}

a:hover {
   color: rgb(0, 0, 0);
   text-decoration: none;
}

a:visited {
    color: rgb(196, 196, 196);
    text-decoration: none;
}

/* TEXT */
p {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#titles h1 {
    text-align: center;
}

ul {
    font-family: 'Times New Roman', Times, serif;
    margin: 5%;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* NAV */

#nav ul {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
#nav li {
    display: inline;
    padding-right: 40px;

}

/* TABLES */
table {
    font-family: 'Times New Roman', Times, serif;
    margin: 5%;
}

th {
    text-align: center;
    background: white;
    color: white;
}

th, td {
    border: medium;
    padding: 0%;
}

/* HEADER */
#header img {
    width: 100%;
}

/* SPACE */
.spacing {
    padding: 0%;
    margin: 0%;
}

/* RESPONSIVE */
.respond {
    width: 100%;
    max-width: none;
}

.video {
    max-width: 560px;
    height: 315px;
    width: 100%;
}

/* ALIGN */
.lefty {
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
}

/* SIDEBAR */
.sidebar {
float: right;
width: 34%;
height: auto;
margin-left: auto;
margin-right: auto;
}

.sidebar-bottom {
display: none;
}

@media screen and (max-width: 930px) {

.sidebar {
display: none;
}

.sidebar-bottom {
float: left;
display: block;
position: relative;
width: 30%;
height: auto;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}
}